{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static "login.css"%}">
</head>
<body>

    <img src="{% static 'Design/Register/Arrow2.svg' %}" class="corner-image top-right" alt="Arrow">

    <div class="background-image"></div>

    <div class="auth-panel-login">
        <h1>Войдите в систему</h1>

        <form class="auth-form-login" method="POST">
            {% csrf_token %}
            <div class="input-group1-login">
                <label for="phone">Номер телефона</label>
                <input type="tel" id="phone" name="phone" placeholder="+79920020497" required>
            </div>

            <div class="input-group2-login password-wrapper-login">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите свой пароль" required>
            </div>

            <button type="submit" class="auth-button-login">Войти</button>
        </form>

        <div class="auth-link-login">
            <span>Нет аккаунта?</span>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
    </div>
    <img src="{% static 'Design/Register/Arrow1.svg' %}" class="corner-image bottom-left" alt="Arrow">
</body>
</html>